<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Plantilla</title>
</head>

<body>
    <header th:fragment="header">
        <h1>[[#{plantilla.titulo}]]</h1>
    </header>

    <footer th:fragment="footer">
        <div style="padding-top: 10px;">
            <a th:href="@{/(lang=es)}">ES</a>|
            <a th:href="@{/(lang=en)}">EN</a>|
            <span> [[#{plantilla.pie-pagina}]]
                <a href="htttp://www.google.com.ar" target="blank">Link de prueba a google</a>
            </span>
            
        </div>
    </footer>
</body>

</html>